:root {
    --color-primary: #0D1B2A;
    /* Header and footer */
    --color-secondary: #778DA9;
    /* Secondary elements */
    --color-accent: #415A77;
    /* Navigation */
    --color-background: #E0E1DD;
    /* Body background */
    --color-white: #FFFFFF;
    /* Text in header/footer */
    --color-hover: #bbb;
    /* Hover background */
    --color-hover-text: #333;
    /* Hover text */
}


.features {
    margin: 2rem auto;;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;

}

.features section {
    border: 1px solid #5d6f67;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
}


.features p, .features h2, .features h3 {
    text-transform: capitalize;
    color: var(--color-hover-text);
    margin: .3rem 0;
}

.features#temperature {
    font-size: 2rem;
    color: var(--color-hover-text);
    margin: .3rem 0;
}