@media only screen and (min-width: 38rem){
    header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    header {
        display: grid;
        grid-template-columns: 50px auto;
        
        
    }

    .navigation {
        
        grid-column: 1 / -1;  
        display: flex;
    }


    .navigation a {
		display: inline;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
	}     
    .hamburguer {
        display: none;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        grid-template-areas:
        "about photo"
        "courses courses";
        padding: 1rem;
    }

    .courses {
        grid-column: 1 / -1;
        
    }

    .courses-list {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 1rem;
    }
    
    .courses-btn{
        background-color: var(--color-accent);
        color: white;
        border: none;
        padding: 0.75rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        width: 150px;
    }
    
    
    /*----------DiSCOVERY PAGE STYLES-----------*/
    #allplaces div {
    
    grid-template-areas: 
    "photograph name"
    "photograph description"
    "photograph location";
    }
    #allplaces div img {
        width: 300px;
    }
    #allplaces div img:hover {
    filter: blur(3px);
    transition: filter 0.3s ease;
    }

  	.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

    .history-content img {
    width: 300px;
    height: auto;
    
    
}
}